 
 .background{
     background-image: url('miri-asleep-small.jpg');
     background-size: cover;
     background-position: 0% 60%;
     position: fixed; 
     height: 100%;
     width: 100%;
     z-index: -1;
     opacity: 0.8;
 }

 .info-box{
    border: 3px solid yellow; 
    position: relative;
 }

 .info-box-title{
     position: relative;
     color: white;
     background-color:  greenyellow;
     border-radius: 15%;
     font-size: 3rem; 
     padding: 1rem;
     margin: 5%;
 }
 
 #prize{
text-align: center;
background-color: gold;
padding: 1.5rem 0;
 }

 
 .list-item{
  line-height: 2.2rem; 
  font-size: 1.4rem;
  width: 80%;
  color: white;
  font-weight: 600; 
}


 @media (min-width: 40rem) {
  #prize{
    text-align: center;
    margin-top: 3rem;
    background-color: gold;
    
     }

     .background{
      background-image: url('Miri\ asleep.jpeg');
      background-size: cover;
      background-position: 0% 60%;
      position: fixed; 
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.8;
  }

     .info-box{
      border: 3px solid yellow; 
      margin: 8rem; 
      position: relative;
   }

   .info-box-title{
    position: absolute;
    color: greenyellow;
    background-color: rgba(128, 131, 128, 0.9);
    left: 20%; 
    border-radius: 5%;
    font-size: 3rem; 
}

  .list-items{
  margin: 10% 10%;border-radius: 5%;
 }

 .list-item{
    line-height: 2.2rem; 
    font-size: 1.4rem;
    width: 60%;
    color: white;
    font-weight: 600; 
 }
 }

 .upload-section{
   background-color: rgb(194, 189, 189); 
 }

 .card-photo{
   width: 45%;
   display: inline-block;
   vertical-align: middle;
 }

 .card-size{
   margin: 5% 15%;
 }

 .photo-container{
   width: 40%;
 }

 .card p {
   width: 45%;
   display: inline-block;
 }
 
 .card-place{
   display: inline-block;
   width: 50%;
 }

 h4{
   text-align: center;
 }