
  *{
    box-sizing: border-box;
}

body{
  background-color: aquamarine;
  margin: 0;
}

.main-header{
    width: 100%;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    margin: 0 1rem 1rem 0; 
}

.main-nav{
    visibility: hidden;
    background: purple;
    margin: 0;
    padding: 0;
    text-align: right;
    text-decoration: none;
   }
   .main-nav__item{
    visibility: hidden;
   
   }

      .my-dropdown{
        margin: none; 
        
    }

   

@media (min-width: 40rem) {
    .my-dropdown{
        display: none; 
    }

    .main-nav__item{
        visibility: visible;
        background: purple;
        text-align: right;
        margin-right: 3rem;
        font-weight: 600; 
        text-decoration: none;
        font-size: 1rem;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }

       .main-nav{
        visibility: visible;
        background: purple;
        padding: 0.5rem;
        text-align: right;
        text-decoration: none;
       }

       .main-header{
        width: 100%;
        position: fixed; 
        z-index: 1; 
        top: 0;
        left: 0;
        margin: 0 1rem 1rem 0; 
    }
    
}







   .main-nav__item:hover{
       color: yellow;
       font-weight: bold;
     
   }

   .main-page-nav{
       margin-right: 30%; 
       color: yellow;
       text-decoration: none; 
       font-size: 1.5rem; 
   }

   .main-page:hover{
       color: white;

   }

   .active{
       background-color: yellow;
       color: purple; 
       border-radius: 5px;
       padding: 5px; 
   }

